*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}
h1{
    font-weight: 600;
    font-size: large;
}

h2 {
    font-weight: 400;
    font-size: small;
}
h3 {
    font-weight: normal;
    font-size: x-small;
}
/* /* HEADER * */

header {
    background-color:white;
    color: black;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 63px;
    padding: 5px;
    align-items: flex-end;
}

h2 img {
    height: 50px;
    width: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

.logo h2 {
    font-weight: bold;

}
nav li {
    list-style-type: none;
    display: inline;
    
}

nav a {
    text-decoration: none;
    color: black;
}
.home_nav {
    padding-right: 5px;
}

.products_nav {
    padding-right: 5px;
}
.about_nav {
    padding-right: 6px;
}


.search_bar {
    background: url("assets/1200px-Google_Magnifying_Glass.svg.png") no-repeat;
    background-position: right;
    background-size: 14px 14px; 
}

/* /* HOME Section * */

.home {
    background-image: url("assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size: cover;
    color: white;
    height: 400px;
}

.about_us {
    margin: 40px;
}
.about_us_container {
    margin-top: 7rem;
    display: flex;
}
.about_image_left {
    width: 200px;
    height: 300px;
}
.about_image_right {
    width: 275px;
    height: 400px;
}
/* /* PRODUCTS * */

.product_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 65px;
    row-gap: 70px;
    justify-items: center;
    justify-content: space-around;
    margin: 50px;
    /* margin-right: 30px;
    margin-top: 40px;
    margin */
}
.product_section {
    margin:50px;
}
.product_image {
    width: 240px;
    height: 240px;
}

.learn_more{
    color: #bf7631;
}

/* /* Horizontal Rules * */

.hr_product {
    width: 33%;
    background-color: black;
    height: 3px;
}

.body_hr {
    width: 50%;
    background-color: black;
    height: 3px;
    
}

.header_hr {
    width: 75%;
    background-color: black;
    height: 3px;
    margin: auto;
}

.add_to_cart_button {
    background-color: #bf7631;
    color: white;
    border: none;
    font-size: 10px;
    

}

footer {
    background-color: #bf7631;
    color: white;
}


