*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin-bottom: 1rem;
}

/* /* HEADER * */

header {
    background-color:white;
    color: black;
    position: relative;
    
}

nav li {
    list-style-type: none;
    display: inline;
}

nav a {
    text-decoration: none;
}

.home {
    background-image: url("assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size: cover;
    color: white;
    height: 400px;

}
.about_us_container {
    margin-top: 7rem;
    display: flex;
}
.about_image_left {
    width: 250px;
    height: 350px;
}
.about_image_right {
    width: 275px;
    height: 400px;
}

.product_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 65px;
    row-gap: 70px;
    margin-top: 7rem;
}

.product_image {
    width: 265px;
    height: 240px;
   
}

/* /* Horizontal Rules * */

.hr_product {
    width: 33%;
    background-color: black;
    height: 3px;

}

.body_hr {
    width: 50%;
    background-color: black;
    height: 3px;
    
}

.header_hr {
    width: 75%;
    background-color: black;
    height: 3px;
    
}

.add_to_cart_button {
    background-color: #bf7631;
    color: white;
    border: none;
    font-size: 10px;
    

}



header {
    position: relative;
    padding: 1rem;
} 
