*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/* .cart_button_image {
    width: 5px;
    height: 5px;
} */
.about_image_left {
    width: 250px;
    height: 350px;
}
.about_image_right {
    width: 275px;
    height: 400px;
}

.product_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 65px;
    row-gap: 70px;
}

.product_image {
    width: 275px;
    height: 240px;
}

.hr_product {
    width: 33%;
    border: 3px solid black;
    
}


.add_to_cart_button {
    background-color: #bf7631;
    color: white;
    border: none;
    font-size: 10px;
    font-weight: bold;

}



header {
    position: relative;
    padding: 1rem;
} 
